<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<body>
		<nav class="navbar" th:fragment="nav">
		
		    <!-- Brand/logo -->
		    <a class="navbar-brand" href="/upload/">File Handling</a>
		
		    <ul class="navbar-nav">
		        <li class="nav-item">
		            <a class="nav-link" href="/upload/">Upload file</a>
		        </li>
		        <li class="nav-item">
		            <a class="nav-link" href="/download/">Download file</a>
		        </li>
		    </ul>
		</nav>
	</body>
</html>