@charset "UTF-8";

p.property {
    font-size: 1.1em;
    font-weight: bold;
    color: gray;
}

.tab-content {
    padding-top: 1.5em;
}

.container {
    padding: 1.1em 0 0 0;
    margin: 0;
    width: 100%;
}

.jumbotron h3 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 0.5em;
}

/* Footer */

.page-footer {
    text-align: center;
    background-color: #cccccc17;
    font-size: .9em;
    padding: 1em 0 1em 0;
}

.page-footer a {
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/* Nav bar */

.navbar {
    background-color: #e7e7e7;
    margin-top: 1em;
}
.navbar-nav {
    display: -ms-flexbox;
    display: inherit;
    -ms-flex-direction: column;
    flex-direction: column;
    list-style: none;
}
.navbar-nav > li {
    padding: 1em;
    border-right: 2px solid #9999992b;
    font-size: 1.1em;
}